/**
 * Native checkout page by Tutor
 */
.tutor-cart-page {
	padding: 0;

	.tutor-cart-course-item {
		.tutor-cart-course-info {
			li {
				margin: 0;
			}
		}
	}
}

.tutor-checkout-page {
	.tutor-form-control {
		background-color: #fff;
		border-color: var(--tutor-border-color) !important;
	}

	.tutor-apply-coupon-form {
		input {
			min-height: 42px;
		}

		button {
			height: 42px;
		}
	}
}
